CUTRUNTools/*kseq*
CUTRUNTools/*filter_below*
kent_utils/faCount
ref_dbs/trimmomatic_adapters
private
conda_envs
docs/_build
docs/__pycache__
test_pipe/.nextflow*
test_pipe/raw_data
test_pipe/work
test_pipe/subsampled_data
test_pipe/test_reference/grch38_1kgmaj.fa.gz  
test_pipe/test_reference/grch38_1kgmaj.*.bt2
test_pipe/test_reference/*.zip
test_pipe/test_reference/*README*
