
manifest {
    author = 'Daniel Stribling, Vaibhav Jain, Rolf Renne'
    defaultBranch = 'master'
    description = """\
    CUT&Run-Flow, A Nextflow pipeline for QC, tag trimming, normalization, and peak
    calling for paired-end sequence data from CUT&RUN experiments.
    """.stripIndent()
    //doi
    homePage = 'http://www.rennelab.com'
    mainScript = 'CnR-flow.nf'
    name = 'CUT&RUN-Flow'
    nextflowVersion = '20.07.1'
    version = 0.08
}

//conda.cacheDir = { "${workflow.projectDir}".toString() + "/conda_envs/" }

params.bowtie2_conda     = 'bioconda::bowtie2=2.4.1'
params.fastqc_conda      = 'bioconda::fastqc=0.11.9'
params.trimmomatic_conda = 'bioconda::trimmomatic=0.39'
params.picard_conda      = 'bioconda::picard=2.23.3'
params.bedtools_conda    = 'bioconda::bedtools=2.29.2'
params.macs2_conda       = 'bioconda::macs2=2.2.6'
params.R_conda           = 'r=3.6.0'
params.samtools_conda    = 'bioconda::samtools=1.9=*_11'
