params {
    ref_mode       = 'fasta'
    ref_fasta      = 'test_reference/hg38_chr22.fa'
    norm_ref_fasta = "${projectDir}/ref_dbs/GCF_000005845.2_ASM584v2_genomic.fna.gz"
    refs_dir       = "${launchDir}/test_reference"
    treat_fastqs   = ["subsampled_data/SRR6128978_{1,2}_*"] 
}
process {
    withName: CnR_S5_B_Peaks_SEACR {
        errorStrategy = 'ignore'
    }
}
